<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Cadastro Prestador</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/fontawsom-all.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
</head>

<body id="cadastro">
    <div class="container-fluid ">
        <a th:href="@{/}"><img src="/fotos/logo2.png"></a>
        <div class="container">
            <div class="row ">
                <div class="col-sm-10 login-box">
                    <div class="row">
                       <div class="col-lg-4 col-md-5 box-de" id="box-cad">
                            <div class="ditk-inf sup-oi">
                                <h2 class="w-100" th:text="#{pergunta1.text}"></h2>
                                <a th:href="@{/login}">
                                    <button type="button" class="btn btn-outline-light" th:text="#{entrar.text}"></button>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-7 log-det">
                            <h2>Cadastro do Prestador</h2>
                            <div class="row">
                                <p class="small-info">Não é um prestador?<a th:href="@{/cadastroConsumidor}"><i> Cadastrar-se como consumidor.</i></a></p>
                            </div>
                            <div class="text-box-cont">
                                <form action="/cadastroPrestador" method="post" th:object="${cadastroPrestador}">
                                    <input name ="nome" type="text" class="form-control" placeholder="Nome" aria-describedby="basic-addon1">
                                    <input name ="email" type="email" class="form-control" placeholder="E-mail" aria-describedby="basic-addon1">
                                    <input name ="telefone" type="tel" class="form-control" placeholder="Telefone/celular"  aria-describedby="basic-addon1">
                                    <input name ="senha" type="password" class="form-control" placeholder="Senha (Mínimo: 8 caracteres)" aria-describedby="basic-addon1" minlength="8" required>                              
                                    <input name ="confsenha" type="password" class="form-control" placeholder="Confirmação Senha" aria-describedby="basic-addon1" minlength="8" required>         
                                    <input name ="endereco" type="text" class="form-control" placeholder="Endereço" aria-describedby="basic-addon1">
                                    <input name ="bairro" type="text" class="form-control" placeholder="Bairro" aria-describedby="basic-addon1">
                                    <div class="center sup">
                                    <input type="checkbox" placeholder="Termos" id="termo" name="termo">
                                    <label for="termo"><a href="#">Li e aceito os Termos de serviço.</a></label>
                                    <button type="submit" class="btn btn-success btn-round" th:text="#{confirmar.text}"></button>
                                    </div>
                                </form>  
                            </div>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

</html>