<!DOCTYPE html SYSTEM "https://thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
    <head>
		<meta charset="utf-8">
		<meta name="author" content="Hora Marcada">
		<title th:text="#{cadastroP.text}"></title>
		<link rel="stylesheet" href="css/style2.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
	</head>
    <body>
        <!--<header>
                <div class="box">
                    <div class="container-1">
                        <span class="icon"><i class="fa fa-search"></i></span>
                        <input type="search" id="search" placeholder="Search..." />
                    </div>
                </div>		
        </header> -->
        <div class="container2" id="container">
            <div class="form-container sign-up-container"></div>
            <div class="form-container sign-in-container">
                <form th:action="@{/cadastroPrestador}" th:method="post">
                <h1 th:text="#{cadastroP.text}"></h1> <br><br>
                    <input name ="nome" type="text" th:placeholder="#{nome.text}" >
                    <input name ="email" type="email" th:placeholder="#{email.text}" />
                    <input name ="telefone" type="tel" th:placeholder="#{tel_cel.text}" />
                    <input name ="senha" type="password" th:placeholder="#{senha.text}" />
                    <input name ="confsenha" type="password" th:placeholder="#{confsenha.text}" />
                    <input name ="endereco" type="text" th:placeholder="#{endereco.text}" />
                    <input name ="bairro" type="text" th:placeholder="#{bairro.text}" />
                    <input name ="cidade" type="text" th:placeholder="#{cidade.text}" />
                    <input name ="estado" type="text" th:placeholder="#{estado.text}" />
                    <p id="cad" th:text="#{localT.text}"></p>

                    <!--<select name="localtrabalho" >
                        <option value="DOMICÍLIO"  th:text="#{domicilio.text}" ></option>
                        <option value="STUDIO"  th:text="#{studio.text}" ></option>
                    </select>-->
                    <label id="termoco"  th:text="#{termos.text}"></label>
                    <input type="checkbox" name="termos" id="termo" checked/>
                    <a th:href="@{/cadastroConsumidor}"  th:text="#{redirect_consumidor.text}"></a> 
                    <button type="submit" class="confirmar" th:text="#{confirmar.text}"></button>
                </form>
            </div>
            <div class="overlay-container">
                <div class="overlay">
                    <div class="cadastro overlay-panel overlay-right">
                        <h2  th:text="#{pergunta1.text}"></h2>
                        <a th:href="@{/}"><button  class="ghost" th:text="#{entrar.text}"></button></a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>