<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Informações</title>
    <script> (function() { var css = document.createElement('link'); css.href = 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'; css.rel = 'stylesheet'; css.type = 'text/css'; document.getElementsByTagName('head')[0].appendChild(css); })(); </script>
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/theme.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
        <a class="navbar-brand font-weight-bolder mr-3" th:href="@{/}"><img src="/fotos/logo.png" alt = "logo"></a>
        <button class="navbar-light navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsDefault">
            <ul class="navbar-nav mr-auto align-items-center">
                <li><form class="bd-search hidden-sm-down">
                    <input type="text" class="form-control bg-graylight border-0 font-weight-bold" id="search-input" placeholder="Search..." autocomplete="off">
                    <div class="dropdown-menu bd-search-results" id="search-results"></div>
                </form> </li>
            </ul>
            <ul class="navbar-nav ml-auto align-items-center">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}" th:text="#{home_button.text}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/informacoes}"><img class="rounded-circle mr-2" src="https://i.pinimg.com/564x/06/23/24/062324438da8eaaa4fc22224859b1e2c.jpg" width="30" alt="foto perfil"></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <svg style="margin-top:10px;" class="_3DJPT" version="1.1" viewbox="0 0 32 32" width="21" height="21" aria-hidden="false" data-reactid="71"><path d="M7 15.5c0 1.9-1.6 3.5-3.5 3.5s-3.5-1.6-3.5-3.5 1.6-3.5 3.5-3.5 3.5 1.6 3.5 3.5zm21.5-3.5c-1.9 0-3.5 1.6-3.5 3.5s1.6 3.5 3.5 3.5 3.5-1.6 3.5-3.5-1.6-3.5-3.5-3.5zm-12.5 0c-1.9 0-3.5 1.6-3.5 3.5s1.6 3.5 3.5 3.5 3.5-1.6 3.5-3.5-1.6-3.5-3.5-3.5z" data-reactid="22"></path></svg>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow-lg" aria-labelledby="dropdown02">
                        <a class="nav-link" th:href="@{/meuPerfil}" th:text="#{icon_item2.text}"></a>
                        <a class="nav-link" th:href="@{/login}" th:text="#{icon_item3.text}"></a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>  

    <main>
        
        <div class="container mb-2">
			<img src="https://i.pinimg.com/564x/06/23/24/062324438da8eaaa4fc22224859b1e2c.jpg" class="mt-neg100 mb-4 rounded-circle" width="120" alt="Foto-Perfil">
			<h1 class="font-weight-bold title" id="nomeperfil" th:text="${usuario.Nome}"></h1><br> <br>
		</div>
        <div class="container-fluid mb-5">
            <div class="row">
                <ul class="navbar-nav">
                    <li>
                        <h2 th:text="#{informacao.text}"></h2>
                        <a class="btn btn-light dropdown-toggle" href="#"  data-toggle="dropdown" th:text="#{mais.text}"></a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" th:href="@{/portfolio}" th:text="#{portfolio.text}"></a>
                            <a class="dropdown-item" th:href="@{avaliacoes}" th:text="#{avaliacao.text}"></a>
                            <a class="dropdown-item" th:href="@{/agendamentos}" th:text="#{calendario.text}"></a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-8">
                <div class="card3 mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0" th:text="#{nome.text}"></h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <a th:text="${usuario.Nome}"></a>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0" th:text="#{email.text}"></h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <a th:text="${usuario.Email}"></a>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0" th:text="#{tel_cel.text}"></h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <a th:text="${usuario.Telefone}"></a>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0" th:text="#{endereco.text}"></h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <a th:text="${prestador.Endereco}"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="card-body" th:each="servico : ${servico}">
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0" th:text="#{servico.text}"></h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        <p th:text = "${servico.getModalidade()}"> </p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0" th:text="#{atendimento.text}"></h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        <p th:text = "${servico.getLocaltrabalho()}"> </p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <img class="card-img" th:src="${servico.getUrlFotos()}" alt="Imagem Serviço">
                    </div>
                </div>

    </main>

    <script src="/js/app.js"></script>
    <script src="/js/theme.js"></script>
    
	<footer class="footer pt-5 pb-5 text-center"> 
		<div class="container">
			<p>© <span class="credits font-weight-bold">        
			    <u>Hora Marcada</u> by Vingadores do Yahoo
			</span>
			</p>
		</div>
    </footer>    
</body>
</html>