<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="author" content="Hora Marcada">
    <title>Login</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
    <div class="container" id="container">
        <div class="form-container sign-up-container"></div>
        <div class="form-container sign-in-container">
            <form action="/logar" method="post">  
                <h1>Entrar com:</h1>
                <div class="social-container">
                    <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <span>ou entre com seu e-mail</span>
                <input name="email" type="email" placeholder="E-mail" />
                <input name="senha" type="password" placeholder="Senha" />
                <a href="#">Esqueceu a senha?</a><br>
                <button type="submit" class="confirmar" th:text="#{button_confirm.text}"></button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                
                <div class="overlay-panel overlay-right">
                    <h1>Olá, é ótimo ter você aqui!</h1>
                    <p>Cadastre seus dados pessoais e comece sua jornada conosco!</p>
                    <button class="ghost" id="signUp"><a th:href="@{/cadastroConsumidor}">Cadastrar-se</a></button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>