<!DOCTYPE >
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
    <head>
		<meta charset="utf-8">
		<meta name="author" content="Hora Marcada">
		<title>Login</title>
		<link rel="stylesheet" href="/css/style2.css">
		<link href="https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap" rel="stylesheet">
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	</head>

    <body>
    <div th:if="${msg}">
    <strong th:text="${msg}"></strong>
</div>
	<h1 th:text = "#{welcome.text}"> </h1>
        <div class="container" id="container">
            <div class="form-container sign-up-container"></div>
            <div class="form-container sign-in-container">
                <form action="/logar" method="post" >
                <h1>Login</h1>
                    <input name="email" type="email" placeholder="E-mail" />
                    <input name="senha" type="password" placeholder="Senha" />
                    <button type="submit" class="confirmar" th:text="#{button_confirm.text}"></button>
                    <a th:href="@{/cadastroPrestador}" th:text="#{redirect_prestador.text}" ></a>
                    <a th:href="@{/cadastroConsumidor}" th:text="#{redirect_consumidor.text}"></a>
                </form>
                
            </div>
        </div>
    </body>
</html>
